html {
  font-size: 16px;
}

body {
  background-color: #b0c0d0;
}

.world-map {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 0;
  width: auto;
}

#ns h3 + ol {
  column-count: 3;
  column-gap: 30px;
}

#ci h3 + ul,
#ci h3 + ol,
#mi h3 + ol,
#bb h3 + ol,
#fh h3 + ol,
#md h3 + ol,
#fz h3 + ol,
#sc h3 + ol,
#bs h3 + ol,
#ks h3 + ol {
  column-count: 2;
}

#tq > ol > li,
#sq > ol > li {
  margin-bottom: 1.5em;
}

#ts {
  display: flex;
  flex-direction: column;
}

#ts table,
#ts th,
#ts td {
  border: 1px solid black;
  border-collapse: collapse;
}

#ts table {
  margin-top: 0;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

#tsp table {
  margin-bottom: 2rem;
}

@media screen and (min-width: 1220px) {
  .world-map {
    width: 1220px;
  }
}

@media screen and (max-width: 540px) {
  #ns h3 + ol,
  #ci h3 + ul,
  #ci h3 + ol,
  #mi h3 + ol,
  #bb h3 + ol,
  #fh h3 + ol,
  #md h3 + ol,
  #fz h3 + ol,
  #sc h3 + ol,
  #bs h3 + ol {
    column-count: 1;
  }
}
