html {
  font-size: 16px;
}

body {
  background-color: #b0c0d0;
}

.world-map {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 0;
  width: auto;
}

#ns h3 + ol {
  column-count: 3;
  column-gap: 30px;
}

#ci h3 + ul,
#ci h3 + ol,
#mi h3 + ol {
  column-count: 2;
}

@media screen and (min-width: 1220px) {
  .world-map {
    width: 1220px;
  }
}

@media screen and (max-width: 540px) {
  #ns h3 + ol,
  #ci h3 + ul,
  #ci h3 + ol,
  #mi h3 + ol {
    column-count: 1;
  }
}
